.icon {
    display: block;
    width: 24px;
    height: 24px;
    background-size: contain;
}

.icon--no-fill {
    content: raw-svg-image('svg/no-fill.svg');
    background-color: hsl(200, 90%, 90%);
    background-image: inline-svg-image('svg/no-fill.svg');
}

.icon--add-fill {
    content: raw-svg-image('svg/no-fill.svg', #fff);
    background-color: hsl(200, 90%, 40%);
    background-image: inline-svg-image('svg/no-fill.svg', #fff);
}

.icon--with-fill {
    content: raw-svg-image('svg/with-fill.svg');
    background-color: hsl(200, 90%, 90%);
    background-image: inline-svg-image('svg/with-fill.svg');
}

.icon--replace-fill {
    content: raw-svg-image('svg/with-fill.svg', #fff);
    background-color: hsl(200, 90%, 40%);
    background-image: inline-svg-image('svg/with-fill.svg', #fff);
}
