@import 'variables';

.icon--add-fill {
    content: raw-svg('#{$fixture-path}/svg/no-fill.svg', #fff);
    background-color: hsl(200, 90%, 40%);
    background-image: inline-svg('#{$fixture-path}/svg/no-fill.svg', #fff);
}
